<%- include('header'); -%>
<h2 class="p-4 text-center">AUTOMATIC STREET LIGHT CONTROL AND FAULT DETECTION
        SYSTEM WITH CLOUD STORAGE</h2>
        <p class="p-3"> <strong>The street light system is checking
                the weather for street lamp ON/OFF
                condition. The weather is light or dark are
                sense through a LDR sensor, If the
                weather is light, the system will OFF. If the
                weather is dark, the light system will ON.
                After the light on the light condition also
                check through LDR sensor for light glow
                or not glow status. If light is not glowing,
                the sensor sends the value to street light
                system. The street light system will generate
                message and send SMS to ward member
                and ward serviceman mobile number
                through GSM. At the same time the sensor
                values are stored in cloud server. We can
                access the light system data in cloud
                anywhere and anytime.</strong> </p>
                <h3 class="text-center">Introduction</h3>
    <p class="p-3">The street lighting system is the one of the
            largest energy expenses for a city. A smart
            street light system can reduce the
            corporation street lighting costs. Recently efficiency; low operating costs low
            maintenance costs are advantages of this
            method. The testing and analytics of this
            project with accurate operation of the
            streetlights is done involving Crouzet
            Millennium software. </p>
            <p class="p-3">GSM based smart street light
                    monitoring and control system, it is an
                    automated system designed to increase the
                    efficiency and accuracy of an industry by
                    automatically timed controlled switching of
                    street lights they are basically two modules
                    which include the client side and another
                    one is server side. The client side consists
                    of GSM modem which is further connected
                    to the microcontroller. The server side
                    consists of NODE.js based web server</p>
            <p class="p-3">Automatic Street Lights, This
                    project is all about to control the power
                    consumptions at the streets and eliminating
                    manpower. This includes scheming a circuit
                    of street lights with specific Sensors, LDR
                    and Microcontrollers during day and night.
                    This requires three basic components i.e.
                    LDR, Sensors and microcontroller. For the
                    duration of daytime there is no requirement
                    of street lights so the LDR keeps the street
                    light off until the light point is low or the
                    frequency of light is low the resistance of
                    the LDR is high. This prevents current from
                    flowing to the base of the transistors. Thus
                    the street lights do not glow. </p>

        <h3 class="p-4 text-center">PROPOSED SYSTEM</h3>
        <p class="p-3">
                The LDR (light dependent
                resistor) is used to check the weather
                condition. If weather is light/dark check
                through a LDR. If weather is bright the
                system identifies it as the day time. If the
                weather is dark the system finds it as the
                night time. So, the system allows to
                switching ON the street lights.
                The street lights are ON condition.
                But, some faulty lights are not glowing. At
                the time the system find the lights are not
                glow. So, some fault occurs in the light we
                can knowing through the LDR values. So,
                the system sends the alert message to the
                ward member and ward service man mobile
                numbers through GSM module. 
        </p>
        <div class="text-center">
                <img src="https://rukminim1.flixcart.com/image/704/704/j9k8ivk0/learning-toy/a/g/b/ldr-light-dependent-resistor-prako-technocratz-original-imaez7ewkkxeukky.jpeg?q=70" width="10%" alt="">

        </div>

<%- include('footer'); -%>
