<%- include('header'); -%>
<div class="text-center m-4">
    <h1>Welcome to CCMS Admin page</h1>
</div>

<div>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">CCMS Lable</th>
                    <th scope="col">location</th>
                    <th scope="col">Fault</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>L1</td>
                    <td>Jaipur</td>
                    <td><span class="no">No</span></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>l2</td>
                    <td>Bharatpur</td>
                    <td><span class="no">No</span></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>L3</td>
                    <td>ganganagar</td>
                    <td><span class="yes">Yes</span></td>
                  </tr>
                </tbody>
              </table>
</div>
<div class="text-center">
  <h3>Energy consumption</h3>
  <img src="https://plot.ly/~ClaytonMiller/180/a-energyplus-consumption-kwh-vs-time.png" width="50%" alt="">
  <h3>Age factor</h3>
<img src="https://pushevs.com/wp-content/uploads/2018/03/Nissan-Leaf-battery-SOH-data.png.webp" width="30%;" alt="">
</div>

<%- include('footer'); -%>